<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'finance/Profile-reg.css' %}">
</head>
<body>
    <div class="profile-container">
        <header class="profile-header">
            <h1>Update Your Profile</h1>
        </header>

        <main class="profile-main">
            <section class="profile-form">
                <h3>Update Your Profile Information</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save Profile</button>
                </form>
            </section>
        </main>
    </div>
</body>
</html>
